.arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 250px;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &.prev {
        left: 16px;
    }

    &.next {
        right: 16px;
    }

}

.planSlider {
    height: 500px;
    margin-bottom: 80px;
    position: relative;
    // background: #000;

    img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.place {
    width: 100%;

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}